* {
    margin:0;
    padding:0;
}

#chart {
    flex-direction:row;
    justify-content:center;
    width:50%;
}

.container_2 {
    flex-direction:row;
    justify-content:center;
}

#pdfviewer {
    height:200px;
}