* {
    margin:0;
    padding:0;
}

body {
    width:100%;
}

header {
    width:100%;
    align-items:center;
    display:inline-flex;
    justify-content:center;
}

/* contenedor principal */
#wrapper {
    width:90%;
    margin:5% auto;
    padding:1%;
    border: none;
    border-radius:10px;
    box-shadow:.5px .5px 15px 7px rgba(0,0,0,0.2);
}

/* animation */
.fadeEffect {
    -o-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
}

/* input styles */
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}